@import "./sass/variables";
@import "./sass/mixins";

.card-container {
    width: 400px;
    max-width: 400px;
    height: 420px;
    max-height: 420px;
    padding: 32px;
    border-radius: 25px;
    background: hsl(213, 19%, 15%);
    ;

    .card-body {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .card-logo {
            img {
                padding: 15px;
                border-radius: 50%;
                background: $darkBlue;
            }
        }

        .card-content {
            display: flex;
            flex-direction: column;
            gap: 24px;

            p {
                color: $mediumGrey;
                line-height: 23px;
            }

            .ratings {
                width: 100%;
                display: flex;
                justify-content: space-between;

                span {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $mediumGrey;
                    background: $darkBlue;
                    border-radius: 50%;
                    cursor: pointer;

                    &:hover {
                        background: $orange;
                        color: $white;
                        transition: all ease-in-out 0.3s;
                    }
                }
            }

            span.selected {
                background: $mediumGrey;
                color: $white;
            }

            button {
                height: 45px;
                border-radius: 25px;
                color: $white;
                background: $orange;
                cursor: pointer;
                transition: all ease-in-out 0.3s;
                border: none;
                font-weight: 400;

                &:hover {
                    background: $white;
                    color: $orange;
                    transition: all ease-in-out 0.3s;
                }
            }

            .card-appreciation {
                display: flex;
                flex-direction: column;
                gap: 16px;
                text-align: center;

                img {
                    width: 65%;
                    margin: auto;
                }

                span {
                    font-size: 13px;
                    padding: 5px;
                    width: 60%;
                    margin: auto;
                    margin-bottom: 5px;

                    border-radius: 25px;
                    color: $orange;
                    background: $darkBlue;
                }
            }
        }
    }
}